# Railway config para Angular

[variables]
  NPM_CONFIG_UPDATE_NOTIFIER = 'false'
  NPM_CONFIG_FUND = 'false'

[phases.build]
  cmds = [
    'npm ci',
    'npm run build'
  ]

[start]
  cmd = 'npm start'

