.dao-proposal-card {
    border-left: 3px solid transparent;

    &.status-approved {
        border-left-color: #10b981;
    }

    &.status-active {
        border-left-color: #556ee6;
    }

    &.status-rejected {
        border-left-color: #ef4444;
    }

    .clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
