<app-loader></app-loader>
<div class="container-fluid">
    <app-page-title title="PAGETITLE.DASHBOARD" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row align-items-stretch">
        <div class="col-12 col-xl-6 mb-4 d-flex">
            <div class="card w-100 h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-sm-8">
                            <div class="p-4">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p>Back & White Dashboard</p>

                                <div class="text-muted">
                                    <p class="mb-1"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                        If several languages coalesce</p>
                                    <p class="mb-1"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                        Sed ut perspiciatis unde</p>
                                    <p class="mb-0"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                        It would be necessary</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 align-self-center">
                            <div>
                                <img src="assets/images/crypto/features-img/img-1.png" alt="" class="img-fluid d-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6 mb-4 d-flex">
            <div class="card w-100 h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <div class="float-end dropdown ms-2" dropdown>
                        <a class="text-muted dropdown-toggle" href="javascript: void(0);" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                            <i class="mdi mdi-dots-horizontal font-size-18"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                            <a class="dropdown-item" href="javascript: void(0);">Action</a>
                            <a class="dropdown-item" href="javascript: void(0);">Another action</a>
                            <a class="dropdown-item" href="javascript: void(0);">Something else here</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="mb-3 me-3">
                                <i class="mdi mdi-account-circle text-primary h1"></i>
                            </div>
                            <div>
                                <h5>{{ userDisplayName || '—' }}</h5>
                                <p class="text-muted mb-1">{{ userEmail || '—' }}</p>
                            </div>
                        </div>
                        <div class="col-md-4 mt-4 mt-md-0 text-center d-flex flex-column justify-content-center">
                            <p class="fw-medium mb-2">Balance :</p>
                            <h4>$ 6134.39</h4>
                        </div>
                        <div class="col-md-4 mt-4 mt-md-0 text-center">
                            <p class="fw-medium mb-2">Coin :</p>
                            <div class="d-inline-flex align-items-center mt-1">
                                <a href="javascript: void(0);" class="m-1" placement="top" tooltip="Bitcoin">
                                    <div class="avatar-xs">
                                        <span
                                            class="avatar-title rounded-circle bg-warning-subtle text-warning font-size-18">
                                            <i class="mdi mdi-bitcoin"></i>
                                        </span>
                                    </div>
                                </a>
                                <a href="javascript: void(0);" class="m-1" placement="top" tooltip="Ethereum">
                                    <div class="avatar-xs">
                                        <span
                                            class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                            <i class="mdi mdi-ethereum"></i>
                                        </span>
                                    </div>
                                </a>
                                <a href="javascript: void(0);" class="m-1" placement="top" tooltip="Litecoin">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-info-subtle text-info font-size-18">
                                            <i class="mdi mdi-litecoin"></i>
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="mt-3">
                                <a href="javascript: void(0);" class="btn btn-primary w-md">Buy / Sell</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="float-end">
                        <select class="form-select form-select-sm ms-2" (change)="getBalanceData($event)">
                            <option value="march" selected>March</option>
                            <option value="february">February</option>
                            <option value="january">January</option>
                            <option value="december">December</option>
                        </select>
                    </div>
                    <h4 class="card-title mb-3">Wallet Balance</h4>
                    @for (data of walletBalanceData; track $index) {
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mt-4">
                                <p>{{data.text}}</p>
                                <h4>{{ data.amount }}</h4>

                                <p class="text-muted mb-4"> {{data.subamount}} <i
                                        class="mdi mdi-arrow-up ms-1 text-success"></i></p>

                                <div class="row">
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2">Income</p>
                                            <h5>{{ data.income }}</h5>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2">Expense</p>
                                            <h5>{{ data.expense }}</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <a href="javascript: void(0);" class="btn btn-primary btn-sm">View more <i
                                            class="mdi mdi-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <div>
                                <apx-chart class="apex-charts" dir="ltr" [series]="data.chartSeries"
                                    [chart]="walletRadialChart.chart" [colors]="walletRadialChart.colors"
                                    [stroke]="walletRadialChart.stroke" [plotOptions]="walletRadialChart.plotOptions"
                                    [legend]="walletRadialChart.legend" [labels]="walletRadialChart.labels">
                                </apx-chart>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 align-self-center">
                            @for (item of data.balancelist; track $index) {
                            <div class="mt-4 pt-2">
                                <p class="mb-2"><i
                                        class="mdi mdi-circle align-middle font-size-10 me-2 text-{{item.color}}"></i>
                                    {{ item.text }}
                                </p>
                                <h5>{{ item.coin }} = <span class="text-muted font-size-14">{{ item.amount }}</span>
                                </h5>
                            </div>
                            }
                        </div>
                    </div>}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Buy / Sell</h4>
                    <tabset class="nav-pills tab-bg bg-light rounded">
                        <tab heading="Buy" class="mt-4">
                            <div class="float-end ms-2">
                                <h5 class="font-size-14"><i
                                        class="bx bx-wallet text-primary font-size-16 align-middle me-1"></i>
                                    $4235.23</h5>
                            </div>
                            <h5 class="font-size-14 mb-4">Buy Coin</h5>

                            <div>

                                <div class="mb-3">
                                    <label>Payment method :</label>
                                    <select class="form-select">
                                        <option>Credit / Debit Card</option>
                                        <option>Paypal</option>
                                    </select>
                                </div>

                                <div>
                                    <label>Add Amount :</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">Amount</label>
                                        </div>
                                        <select class="form-select" style="max-width: 90px;">
                                            <option value="BT" selected>BTC</option>
                                            <option value="ET">ETH</option>
                                            <option value="LT">LTC</option>
                                        </select>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="input-group mb-3">
                                        <label class="input-group-text">Price</label>
                                        <input type="text" class="form-control">
                                        <label class="input-group-text">$</label>
                                    </div>

                                    <div class="input-group mb-3">
                                        <label class="input-group-text">Total</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="button" class="btn btn-success w-md">Buy Coin</button>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Sell" class="mt-4">
                            <div class="float-end ms-2">
                                <h5 class="font-size-14"><i
                                        class="bx bx-wallet text-primary font-size-16 align-middle me-1"></i>
                                    $4235.23</h5>
                            </div>
                            <h5 class="font-size-14 mb-4">Sell Coin</h5>

                            <div>
                                <div class="mb-3">
                                    <label>Email :</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div>
                                    <label>Add Amount :</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">Amount</label>
                                        </div>
                                        <select class="form-select" style="max-width: 90px;">
                                            <option value="BT" selected>BTC</option>
                                            <option value="ET">ETH</option>
                                            <option value="LT">LTC</option>
                                        </select>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="input-group mb-3">

                                        <label class="input-group-text">Price</label>

                                        <input type="text" class="form-control">

                                        <label class="input-group-text">$</label>
                                    </div>

                                    <div class="input-group mb-3">
                                        <label class="input-group-text">Total</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="button" class="btn btn-danger w-md">Sell Coin</button>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Transactions</h4>
                    <tabset class="nav-pills tab-bg bg-light rounded">
                        <tab heading="All">
                            <ngx-simplebar style="height: 330px;">
                                <table class="table align-middle table-nowrap">
                                    <tbody>
                                        @for (data of transactionsData; track $index) {
                                        <tr>
                                            <td style="width: 50px;">
                                                <div class="font-size-22 text-{{data.color}}">
                                                    <i class="bx {{data.icon}}"></i>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h5 class="font-size-14 mb-1">{{data.name}}</h5>
                                                    <p class="text-muted mb-0">{{data.date}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-end">
                                                    <h5 class="font-size-14 mb-0">{{data.text}}</h5>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-end">
                                                    <h5 class="font-size-14 text-muted mb-0">{{data.price}}</h5>
                                                </div>
                                            </td>
                                        </tr>}
                                    </tbody>
                                </table>
                            </ngx-simplebar>
                        </tab>
                        <tab heading="Buy">
                            <ngx-simplebar style="height: 330px;">
                                <table class="table align-middle table-nowrap">
                                    <tbody>
                                        @for (data of transactionsData; track $index) {
                                        <tr>
                                            <td style="width: 50px;">
                                                <div class="font-size-22 text-{{data.color}}">
                                                    <i class="bx {{data.icon}}"></i>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h5 class="font-size-14 mb-1">{{data.name}}</h5>
                                                    <p class="text-muted mb-0">{{data.date}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-end">
                                                    <h5 class="font-size-14 mb-0">{{data.text}}</h5>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-end">
                                                    <h5 class="font-size-14 text-muted mb-0">{{data.price}}</h5>
                                                </div>
                                            </td>
                                        </tr>}
                                    </tbody>
                                </table>
                            </ngx-simplebar>
                        </tab>
                        <tab heading="Sell">
                            <ngx-simplebar style="height: 330px;">
                                <table class="table align-middle table-nowrap">
                                    <tbody>
                                        @for (data of transactionsData; track $index) {
                                        <tr>
                                            <td style="width: 50px;">
                                                <div class="font-size-22 text-{{data.color}}">
                                                    <i class="bx {{data.icon}}"></i>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h5 class="font-size-14 mb-1">{{data.name}}</h5>
                                                    <p class="text-muted mb-0">{{data.date}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-end">
                                                    <h5 class="font-size-14 mb-0">{{data.text}}</h5>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-end">
                                                    <h5 class="font-size-14 text-muted mb-0">{{data.price}}</h5>
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </ngx-simplebar>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>